.vs/MoA/FileContentIndex/955e1349-67c8-4a64-9406-d7139b18f038.vsidx
.vs/MoA/v17/Browse.VC.db
.vs/MoA/v17/Browse.VC.db-shm
.vs/MoA/v17/Browse.VC.db-wal
.vs/MoA/v17/Browse.VC.opendb
.vs/MoA/v17/ipch/AutoPCH/528d0d82c70e7746/HALFEDGEMESH.ipch
.vs/MoA/v17/Solution.VC.db
.vs/MoA/v17/Solution.VC.db-shm
.vs/MoA/v17/Solution.VC.db-wal
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
cmake_install.cmake
CMakeCache.txt
CMakeFiles/1feea0635b23458990e5498cff68f7ae/generate.stamp.rule
CMakeFiles/3.28.1/CMakeCCompiler.cmake
CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.28.1/CMakeRCCompiler.cmake
CMakeFiles/3.28.1/CMakeSystem.cmake
CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.28.1/CompilerIdC/CompilerIdC.exe
CMakeFiles/3.28.1/CompilerIdC/CompilerIdC.vcxproj
CMakeFiles/3.28.1/CompilerIdC/Debug/CMakeCCompilerId.obj
CMakeFiles/3.28.1/CompilerIdC/Debug/CompilerIdC.exe.recipe
CMakeFiles/3.28.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
CMakeFiles/3.28.1/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
CMakeFiles/3.28.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
CMakeFiles/3.28.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
CMakeFiles/3.28.1/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
CMakeFiles/3.28.1/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
CMakeFiles/3.28.1/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
CMakeFiles/3.28.1/CompilerIdC/Debug/CompilerIdC.tlog/link.secondary.1.tlog
CMakeFiles/3.28.1/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.28.1/CompilerIdCXX/CompilerIdCXX.exe
CMakeFiles/3.28.1/CompilerIdCXX/CompilerIdCXX.vcxproj
CMakeFiles/3.28.1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
CMakeFiles/3.28.1/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
CMakeFiles/3.28.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
CMakeFiles/3.28.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
CMakeFiles/3.28.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
CMakeFiles/3.28.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
CMakeFiles/3.28.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
CMakeFiles/3.28.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
CMakeFiles/3.28.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
CMakeFiles/3.28.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
CMakeFiles/3.28.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
CMakeFiles/3.28.1/VCTargetsPath.txt
CMakeFiles/3.28.1/VCTargetsPath.vcxproj
CMakeFiles/3.28.1/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
CMakeFiles/3.28.1/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeConfigureLog.yaml
CMakeFiles/generate.stamp
CMakeFiles/generate.stamp.depend
CMakeFiles/generate.stamp.list
CMakeFiles/TargetDirectories.txt
MoA.sln
MoA.vcxproj
MoA.vcxproj.filters
tnm079-code/Geometry/HalfEdgeMesh.cpp
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
.vs/MoA/FileContentIndex/349efe75-456c-4b0a-bdac-ed85d0c1950a.vsidx
MoA.dir/Debug/ObjIO.obj
.vs/MoA/FileContentIndex/1e644cef-ca03-48e9-86f6-6edfcb92ce4c.vsidx
.vs/MoA/v17/.suo
.vs/MoA/v17/DocumentLayout.backup.json
.vs/MoA/v17/DocumentLayout.json
bin/Debug/MoA.exe
bin/Debug/MoA.pdb
MoA.dir/Debug/AdaptiveLoopSubdivisionMesh.obj
MoA.dir/Debug/BlackWhiteColorMap.obj
MoA.dir/Debug/ColorMap.obj
MoA.dir/Debug/ColorMapFactory.obj
MoA.dir/Debug/Console.obj
MoA.dir/Debug/Cube.obj
MoA.dir/Debug/DecimationMesh.obj
MoA.dir/Debug/FluidSolver.obj
MoA.dir/Debug/FluidVoxelCutPlane.obj
MoA.dir/Debug/FrameMain.obj
MoA.dir/Debug/GLAxis.obj
MoA.dir/Debug/GLGridPlane.obj
MoA.dir/Debug/GLObject.obj
MoA.dir/Debug/GLObjectPlayback.obj
MoA.dir/Debug/GLViewer.obj
MoA.dir/Debug/GrayColorMap.obj
MoA.dir/Debug/GreenRedColorMap.obj
MoA.dir/Debug/GUI.obj
MoA.dir/Debug/HalfEdgeMesh.obj
MoA.dir/Debug/Heap.obj
MoA.dir/Debug/HotColorMap.obj
MoA.dir/Debug/HSVColorMap.obj
MoA.dir/Debug/Implicit.obj
MoA.dir/Debug/ImplicitMesh.obj
MoA.dir/Debug/IsoContourColorMap.obj
MoA.dir/Debug/JetColorMap.obj
MoA.dir/Debug/LevelSet.obj
MoA.dir/Debug/LevelSetGrid.obj
MoA.dir/Debug/LevelSetOperator.obj
MoA.dir/Debug/LineStrip.obj
MoA.dir/Debug/LoopSubdivisionMesh.obj
MoA.dir/Debug/main.obj
MoA.dir/Debug/MarchingCubes.obj
MoA.dir/Debug/Mesh.obj
MoA.dir/Debug/MoA.exe.recipe
MoA.dir/Debug/MoA.ilk
MoA.dir/Debug/MoA.log
MoA.dir/Debug/MoA.tlog/CL.command.1.tlog
MoA.dir/Debug/MoA.tlog/Cl.items.tlog
MoA.dir/Debug/MoA.tlog/CL.read.1.tlog
MoA.dir/Debug/MoA.tlog/CL.write.1.tlog
MoA.dir/Debug/MoA.tlog/CustomBuild.command.1.tlog
MoA.dir/Debug/MoA.tlog/CustomBuild.read.1.tlog
MoA.dir/Debug/MoA.tlog/CustomBuild.write.1.tlog
MoA.dir/Debug/MoA.tlog/link.command.1.tlog
MoA.dir/Debug/MoA.tlog/link.read.1.tlog
MoA.dir/Debug/MoA.tlog/link.secondary.1.tlog
MoA.dir/Debug/MoA.tlog/link.write.1.tlog
MoA.dir/Debug/MoA.tlog/MoA.lastbuildstate
MoA.dir/Debug/Quadric.obj
MoA.dir/Debug/QuadricDecimationMesh.obj
MoA.dir/Debug/ScalarCutPlane.obj
MoA.dir/Debug/SignedDistanceSphere.obj
MoA.dir/Debug/SimpleDecimationMesh.obj
MoA.dir/Debug/SimpleMesh.obj
MoA.dir/Debug/Sphere.obj
MoA.dir/Debug/SphereFractal.obj
MoA.dir/Debug/trackball.obj
MoA.dir/Debug/TrilinearInterpolator.obj
MoA.dir/Debug/UniformCubicSpline.obj
MoA.dir/Debug/UniformCubicSplineSubdivisionCurve.obj
MoA.dir/Debug/Util.obj
MoA.dir/Debug/vc143.pdb
MoA.dir/Debug/VectorCutPlane.obj
MoA.vcxproj.user
x64/Debug/ZERO_CHECK/ZERO_CHECK.log
x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
.vs/MoA/v17/ipch/AutoPCH/32b1aba54ecd087c/SIMPLEMESH.ipch
.vs/MoA/v17/fileList.bin
.vs/MoA/FileContentIndex/dfd3f6ca-6c6d-4d34-8e2b-de13a33200bd.vsidx
